django
django-crispy-forms 
reportlab 
pandas 
plotly
whitenoise 
django-environ 
Pillow
plotly
pandas 
openpyxl
xlsxwriter
djangorestframework
PyMySQL
django-cors-headers
django-filter
gunicorn
cloudinary
python-dotenv
resend
dj-database-url
psycopg2-binary